{{#partial "content"}}
  <div class="row search">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Buscador de POIs</h1>
      {{>terminal/search.hbs}}
    </div>
  </div>
{{/partial}}

{{>layout_terminal.hbs}}
