<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Palabras claves</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  {{#each pois}}
    <tr>
      <th>{{id}}</th>
      <td>{{name}}</td>
      <td>{{join palabrasClaves ", "}}</td>
      <td>
        <a href="/terminal/poi/{{id}}">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
