<form action="/terminal/pois" method="GET">
  <div class="input-group input-group-lg">
    <input name="query" type="text" class="form-control" placeholder="Lugar, Servicio, barrio, etc" required="required" pattern="[a-zA-Z0-9\s]+">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</form>
