{{#partial "body"}}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Buscador de POIs</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Buscador</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#contact">Contactanos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{name}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {{#block "content"}}
    {{/block}}
  </div>
{{/partial}}

{{>layout_base.hbs}}
