<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="base.css">
  </head>
  <body>
    <nav>
    </nav>
    <div class="content">
      {{#block "content"}}
      {{/block}}
    </div>
    <footer>
    </footer>
  </body>
</html>
